<a href="https://colab.research.google.com/github/shyamal-anadkat/AIPI540_NLP/blob/master/movies_dataset_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Movies Dataset from Kaggle EDA**

These files contain metadata for all 45,000 movies listed in the Full MovieLens Dataset. The dataset consists of movies released on or before July 2017. Data points include cast, crew, plot keywords, budget, revenue, posters, release dates, languages, production companies, countries, TMDB vote counts and vote averages.

This dataset also has files containing 26 million ratings from 270,000 users for all 45,000 movies. Ratings are on a scale of 1-5 and have been obtained from the official GroupLens website.
[Dataset Link](https://www.kaggle.com/rounakbanik/the-movies-dataset)

## **This dataset consists of the following files:**

1. movies_metadata.csv: The main Movies Metadata file. Contains information on 45,000 movies featured in the Full MovieLens dataset. Features include posters, backdrops, budget, revenue, release dates, languages, production countries and companies.

2. keywords.csv: Contains the movie plot keywords for our MovieLens movies. Available in the form of a stringified JSON Object.

3. credits.csv: Consists of Cast and Crew Information for all our movies. Available in the form of a stringified JSON Object.

4. links.csv: The file that contains the TMDB and IMDB IDs of all the movies featured in the Full MovieLens dataset.

5. links_small.csv: Contains the TMDB and IMDB IDs of a small subset of 9,000 movies of the Full Dataset.

6. ratings_small.csv: The subset of 100,000 ratings from 700 users on 9,000 movies.

In [23]:
import os
import getpass


# Remove Colab default sample_data
!rm -r ./sample_data


# Clone GitHub files to colab workspace
git_user = "Hearsch-Jariwala" # Enter user or organization name
git_email = "hearsch.jariwala@gmail.com" # Enter your email
repo_name = "shyamal-anadkat/AIPI540_NLP" # Enter repo name
git_token = getpass.getpass("Enter git token") # Enter your github token 
#This is incorrect syntax use the one below instead --- git_path = f"https://{git_token}@github.com/{git_user}/{repo_name}.git"
git_path = f"https://{git_user}:{git_token}@github.com/{repo_name}.git"
!git clone "{git_path}"

rm: cannot remove './sample_data': No such file or directory
Enter git token··········
Cloning into 'AIPI540_NLP'...
remote: Enumerating objects: 44, done.
remote: Counting objects: 100% (44/44), done.
remote: Compressing objects: 100% (35/35), done.
remote: Total 44 (delta 8), reused 30 (delta 3), pack-reused 0
Unpacking objects: 100% (44/44), done.

In [26]:
# Change working directory to location of notebook
notebook_dir = '/content/AIPI540_NLP/notebooks'
path_to_notebook = os.path.join(repo_name,notebook_dir)
%cd "{path_to_notebook}"
%ls

/content/AIPI540_NLP/notebooks

In [43]:
# Mount Google drive to access files there
from google.colab import drive
drive.mount('/content/gdrive')


# Path to files in Google Drive
path_to_gdrive_files = '../../gdrive/MyDrive/'


# Display contents
print('Contents of gdrive directory:')
print(os.listdir(path_to_gdrive_files))

# Access dataset 
movie_metadata = '/content/gdrive/MyDrive/The_Movies_Dataset(Kaggle)/movies_metadata.csv'
credits_data = '/content/gdrive/MyDrive/The_Movies_Dataset(Kaggle)/credits.csv'
keywords_data = '/content/gdrive/MyDrive/The_Movies_Dataset(Kaggle)/keywords.csv'
links_data = '/content/gdrive/MyDrive/The_Movies_Dataset(Kaggle)/links.csv'
links_small_data = '/content/gdrive/MyDrive/The_Movies_Dataset(Kaggle)/links_small.csv'
ratings_data = '/content/gdrive/MyDrive/The_Movies_Dataset(Kaggle)/ratings.csv'
ratings_small_data = '/content/gdrive/MyDrive/The_Movies_Dataset(Kaggle)/ratings_small.csv'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
Contents of gdrive directory:
['Colab Notebooks', 'The_Movies_Dataset(Kaggle)', 'notebooks']

In [36]:
# Created dataframes
import pandas as pd

# movies_metadata.csv
movies_data = pd.read_csv(movie_metadata)
movies_data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [37]:
# credits.csv
credits = pd.read_csv(credits_data)
credits.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [38]:

# keywords.csv
keywords = pd.read_csv(keywords_data)
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [39]:
#links.csv
links = pd.read_csv(links_data)
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [40]:
#links_small.csv
links_small = pd.read_csv(links_small_data)
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [41]:
#ratings.csv
ratings = pd.read_csv(ratings_data)
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [42]:
#ratings_small.csv
ratings_small = pd.read_csv(ratings_small_data)
ratings_small.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205